.normal{

    display: flex;

    align-items: center;
    justify-content: center;

    height: 24px;
    width: 24px;

    margin-left: 2px;

    background-color: #ffe8a9;
    box-shadow: 
        inset -2px -2px 0 0 #443d2d,
        inset 2px 2px 0 0 #fffaee,
        inset -4px -4px 0 0 #c4b795,
        inset 4px 4px 0 0 #fff2d0;
}