.normal{
    position: fixed;
    padding: 3px;
    background-color: #ffe8a9;
    box-shadow: 
        inset -2px -2px 0 0 #443d2d,
        inset 2px 2px 0 0 #fffaee,
        inset -4px -4px 0 0 #c4b795,
        inset 4px 4px 0 0 #ffeec0;
    display: inline-block;
    user-select: none;
}

.innen{
    font-family: 'wavy';
    flex:1;
    max-width: calc(100% - 100px);   
    overflow-wrap: break-word; /* Breaks long words */
    word-wrap: break-word; /* Ensures long words or URLs break */
    white-space: normal; /* Allows text to wrap onto multiple lines */
    padding: 8px;
    box-shadow: 
        inset -2px -2px 0 0 #443d2d,
        inset 2px 2px 0 0 #fffaee,
        inset -4px -4px 0 0 #c4b795,
        inset 4px 4px 0 0 #ffeec0;  
}

.inhalt{
    padding: 4px;
    box-shadow:
        inset 2px 2px 0 0 #443d2d,
        inset -2px -2px 0 0 #fffaee,
        inset 4px 4px 0 0 #c4b795,
        inset -4px -4px 0 0 #ffeec0;
}

.toolbar{
    display: flex;
    margin-bottom: 4px;
}

.searchbar{
    width: 100px;
    font-family: 'wavy';
    padding: 8px;
    margin-left: 4px;  
    background: #ffffff;
    box-shadow:
        inset 2px 2px 0 0 #443d2d,
        inset -2px -2px 0 0 #fffaee,
        inset 4px 4px 0 0 #c4b795,
        inset -4px -4px 0 0 #ffeec0;  
}

.header{
    box-shadow: 
        inset -3px -3px 0 0 #443d2d,
        inset 3px 3px 0 0 #ffeec0,
        inset -6px -6px 0 0 #c4b795;
        /* inset 6px 6px 0 0 #ffeec0; */
    padding-bottom: 6px;
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 4px;
    /* padding: 2px; */
    display: flex;
    align-items: center;
    height: 28px;
    background: linear-gradient(to right, #583566, #e6b8f8);
}

.container{
    padding-left: 3px;
    padding-bottom: 6px;
    padding-right: 6px;
    padding-top: 3px;
}

.title{
    flex-grow: 4;
    font-family: 'wavy';
    color: #ffffff;
    -webkit-text-stroke: 1px rgb(255, 255, 255); 
}

.content{
    width: 320px;
    height: 480px;
    background-color: #ffffff;
}